.banner-bg {
  background-color: #fceae8;
  border-radius: 10px;
}
.buy-now-button {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
.container {
  margin-bottom: 100px;
}
.carousel-item {
  padding: 20px 40px;
}
.price {
  color: #ff136f;
}
